# Dependências
node_modules/

# Next.js
.next/
out/
next-env.d.ts
tsconfig.tsbuildinfo

# Build
build/
dist/

# Env
.env
.env*.local

# Logs
*.log

# Runtime
*.pid

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
